# Ignore zip archives
*.zip

# Ignore CSV outputs and results
*.csv

# Ignore CMake build files
CMakeLists.txt
CMakeFiles/
CMakeCache.txt
cmake_install.cmake


# Ignore general build or output folders
build/
out/
dist/

# macOS and IDE files
.DS_Store
.idea/
